/*
параметры оформления для учебных предметов
*/

.klass-underline{
    border-bottom: 2px solid black;
}

.predmet {
    padding-left: 1%;
    border-bottom: 2px solid black;
}

.finished{
    color: grey;
}
