.ProgressBar_background-color_green{
    background-color:green;
}

.ProgressBar_background-color_white{
    background-color:white;
}

.ProgressBar_background-color_blue{
    background-color:blue;
}

.ProgressBar_background-color_red{
    background-color:red;
}

.ProgressBar_background-color_yellowgreen{
    background-color:yellowgreen;
}
